.navigation {
    position: relative;
    top: 0;
    width: 100vw;
    text-align: center;
    height: 44px;
    line-height: 44px;
    background-color: #ffffff!important;
    color: #5A5B65;
    font-size: 18px;
    z-index: 290000;
}

.navigation-title {
    margin-bottom: 44px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 44px;
    font-size: 18px;
    color: #5A5B65;
    background-color: #fff!important;
    z-index: 300000;
}

.navigation .back {
    width: 8px;
    height: 13px;
    background: url(./img/back.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    margin-top: 16px;
    margin-left: 15px;
    z-index: 10;
    z-index: 300001;
}

.index-page {
    background-color: #fff;
}

.index-page {
    height: calc(100vh);
    overflow-y: auto;
}

.topbanner {
    width: 100%;
    background-color: #ffffff;
    border-bottom: 5px solid rgb(246, 246, 246);
}

.topbanner img {
    width: 100%;
}

.tabs {
    display: flex;
    width: 100vw;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #fff;
    border-bottom: 5px solid rgb(246, 246, 246);
}

.tabs .tabs-div2 {
    flex: 1;
    text-align: center;
    color: #333333;
    font-size: 11px;
}

.tabs .tabs-div2 p {
    margin: 0;
}

.tabs .tabs-div2 p:nth-child(2) {
    font-weight: bold;
    font-size: 16px;
    /* margin: 5px 0; */
}

.tabs .tabs-div2 p:nth-child(3) {
    font-size: 10px;
}

.tabs .tabs-div2 p:last-child {
    color: #666666;
    font-size: 10px;
}

.red {
    color: #F05330 !important;
}

.green {
    color: #27B054 !important;
}

.disnone {
    display: none;
}

.new-zixun {
    width: 100%;
    background-color: #ffffff;
    padding-top: 20px;
}

.new-zixun .zixun-box {
    width: 100%;
    height: 193px;
    position: relative;
    margin-top: -30px;
}

.new-zixun .zixun-box .bigtitle {
    height: 14px;
    line-height: 14px;
    border-left: 3px solid #5473FF;
    margin: 11px 0;
    color: #666666;
    font-weight: bold;
}

.new-zixun .zixun-box .bgbanner {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0px;
}

.new-zixun .zixun-box .zixun-num {
    width: 100%;
    text-align: center;
    height: 78px;
    overflow: hidden;
    font-size: 105px;
    font-weight: bold;
    color: #E4E4EC;
    position: absolute;
    bottom: 28px;
}

.new-zixun .zixun-box .zixun-content1 {
    width: 100%;
    height: 193px;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
}

.new-zixun .zixun-box .zixun-content1 .zixun1 {
    font-size: 25px;
    color: #474651;
    font-weight: bold;
    margin-top: 50px;
}

.new-zixun .zixun-box .zixun-content1 .zixun1 .bigmoney {
    font-size: 28px;
}

.new-zixun .zixun-box .zixun-content1 .zixun1 .span1 {
    color: #F0A530;
    font-weight: bold;
}

.new-zixun .zixun-box .zixun-content1 .zixun1 .span2 {
    color: #F05330;
    font-weight: bold;
}

.new-zixun .zixun-box .zixun-content1 .zixun1 .span3 {
    color: #B330F0;
    font-weight: bold;
}

.new-zixun .zixun-box .zixun-content1 .zixun2 {
    font-size: 14px;
    color: #474651;
    margin-top: 5px;
    margin-bottom: 10px;
}

.new-zixun .zixun-box .zixun-content1 .zixun2 span {
    color: #5473FF;
}

.new-zixun .zixun-box .zixun-content1 .btn1 {
    background-image: url('./img/btn1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 108px;
    height: 41px;
    line-height: 34px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin: 0 auto;
}

.new-zixun .zixun-box .zixun-content1 .btn2 {
    background-image: url('./img/btn2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 108px;
    height: 41px;
    line-height: 34px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin: 0 auto;
}

.new-zixun .zixun-box .zixun-content1 .btn3 {
    background-image: url('./img/btn3.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 108px;
    height: 41px;
    line-height: 34px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin: 0 auto;
}

.addTabsBox {
    width: 70%;
    margin-left: 15%;
    height: 30px;
    line-height: 30px;
    position: relative;
    margin-bottom: 20px;
    z-index: 10000;
}

.addTabs {
    float: left;
    /* box-shadow: 0px -10px 16px -8px grey; */
    width: 33.33%;
    text-align: center;
    font-size: 15px;
    color: rgb(99, 96, 96);
}

.addTabs:last-child {
    margin-right: 0px;
}

.addIdStyle {
    color: #5473ff;
}

.addIdStyle::after {
    content: '';
    display: block;
    height: 2.5px;
    width: 50%;
    color: #5473ff;
    background-color: #5473ff;
    margin-left: 24%;
    border-radius: 1.25px;
}

.news1 {
    background: #fff;
    border-bottom: solid 1px #e4e4e4;
    height: 40px;
    line-height: 40px;
}

.news {
    background: #fff;
    min-height: 200px;
}

.news-title1 {
    height: 40px;
    float: left;
}

.news-title1 img {
    width: 10px;
    height: 12px;
    vertical-align: middle;
    margin-left: 24px;
    margin-right: 8px;
}

.news-title1 span {
    line-height: 40px;
    color: #F05330;
    font-size: 13px;
}

.news-title {
    height: 40px;
    border-bottom: 1px solid rgb(246, 246, 246);
}

.news-title img {
    width: 10px;
    height: 12px;
    vertical-align: middle;
    margin-left: 24px;
    margin-right: 8px;
}

.news-title span {
    line-height: 40px;
    color: #F05330;
    font-size: 13px;
}

.newsbox1 {
    float: left;
    width: 70%;
    overflow: hidden;
    height: 40px;
    line-height: 40px;
    position: relative;
}

.newsbox {
    width: 100%;
    position: relative;
}

#scrollBox {
    position: absolute;
    left: 0px;
    top: 0;
    width: 100%;
    padding-bottom: 120px;
}

.scroll_top {
    transition: all 0.5s;
    margin-top: -10px;
}

.news-content {
    /* overflow: hidden; */
    min-width: 100%;
    border-bottom: 1px solid rgb(246, 246, 246);
    overflow: hidden;
    height: 60px;
}

.news-content * {}

.news-content:last-child {
    border-bottom: none;
}

.bottombox {
    display: block;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.content-title {
    font-size: .9rem;
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    margin-bottom: 0px;
}

.content-info {
    font-size: .8rem;
    color: #868686;
    padding-left: 20px;
}

.mIndex {
    background: rgb(246, 246, 246);
}