.rechange {
    height: calc(100vh - 50px);
    overflow-y: auto;
    margin-bottom: 40px;
    background: #fff;
    padding: 0 15px;
}

.rechange .title {
    height: 45px;
    line-height: 45px;
    color: #999;
    font-size: 15px;
    margin: 0px;
}

.money-div {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    background: #fff;
}

.money-div div {
    width: 28.6%;
    height: 40px;
    line-height: 40px;
    border: solid 1px #f6f6f6;
    border-radius: 2px;
    text-align: center;
    margin: 7px 0;
}

.active-recharge {
    color: #fff;
    background: #5473FF;
    border: solid 1px #5473FF;
}

.recharge-input {
    width: 100%;
    line-height: 40px;
    border: none;
    text-align: center;
    background: none;
    outline: none;
}

.recharge-input::-placeholder {
    color: #000;
}

.recharge-input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #000;
}

.recharge-input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #000;
}

.recharge-input::-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #000;
}

.pay-way {
    margin-top: 10px;
    background: #fff;
}

.pay-way img {
    width: 30px;
    height: 30px;
    margin: 10px;
    margin-left: 0;
    vertical-align: middle;
}

.pay-way span {
    margin-left: 20px;
}

.radio {
    background: url(./img/radio-button.png);
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    float: right;
    /* margin-right: 20px; */
    margin-top: 15px;
}

.radio-none {
    background: url(./img/radio02.png);
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    float: right;
    /* margin-right: 18px; */
    margin-top: 15px;
}

.text {
    color: #656565;
}

.text p {
    margin: 14px 0;
}

.recharge-bottom.bottom-btn {
    /* display: flex; */
    width: 96%;
    margin: 0 auto;
}

.recharge-bottom.bottom-btn div {
    border-radius: 2px;
    color: #fff;
    font-size: 16px;
    user-select: none;
}

.recharge-bottom.bottom-btn .main {
    /* flex: 1; */
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #5473FF;
    border: solid 1px #5473FF;
    /* margin: 3px 2vw; */
}