.searchBox {
    width: 100%;
    height: 92px;
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 30px;
    margin-left: 50px;
}

.tableBox {
    width: 100%;
}

.ant-layout-content {
    padding: 0px!important;
}

.inputArray {
    float: left;
    margin-right: 10px;
}

.inputArray label {
    font-size: 14px;
    line-height: 26px;
    float: left;
}

.searchSelect {
    float: left;
}

.searchSelect .ant-select-selector {
    border-top: 0px!important;
    border-left: 0px!important;
    border-right: 0px!important;
    height: 26px!important;
    line-height: 26px!important;
}

.ant-select-selection-search-input {
    height: 16px!important;
    line-height: 16px!important;
    box-sizing: border-box;
}

.searchInput {
    width: 140px;
    height: 26px;
    line-height: 20px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    outline: none;
    float: left;
}

.searchInput input {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dateStyle {
    width: 300px;
    height: 26px;
    float: left;
}

.searchBtn {
    font-size: 12px;
    height: 20px;
    line-height: 10px;
    margin-left: 20px;
}

.ermax {
    position: relative;
}

.curimg {
    cursor: pointer;
}

.ercode1 {
    position: fixed;
    z-index: 100000;
    background-color: rgba(0, 0, 0, 0);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.ercode1 .erimg1 {
    position: absolute;
    left: 1050px;
    z-index: 100001;
    width: 200px;
    height: 200px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px 0px rgba(38, 52, 115, 0.51);
    border-radius: 10px;
    box-sizing: border-box;
    padding-top: 20px;
}

.ant-btn-primary {
    background-color: #5473FF!important;
    border-color: #5473FF!important;
}

.ant-picker {
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

.pagen {
    margin-top: 20px;
    margin-left: 50px;
}

/* .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */

.ant-table.ant-table-small .ant-table-footer {
    padding: 0px;
    padding-top: 6px;
}

.commissionStatistics .ant-table-row:last-child {
    background-color: #65666b;
    color: #fff;
}

.commissionStatistics .ant-table tbody>tr.ant-table-row:last-child:hover>td {
    background: #65666b;
}

.registQuery .ant-table-row:last-child {
    background-color: #65666b;
    color: #fff;
}

.registQuery .ant-table tbody>tr.ant-table-row:last-child:hover>td {
    background: #65666b;
}

.registEntrust .ant-table-row:last-child {
    background-color: #65666b;
    color: #fff;
}

.registEntrust .ant-table tbody>tr.ant-table-row:last-child:hover>td {
    background: #65666b;
}

.registSettlement .ant-table-row:last-child {
    background-color: #65666b;
    color: #fff;
}

.registSettlement .ant-table tbody>tr.ant-table-row:last-child:hover>td {
    background: #65666b;
}

.orderSttleInvite .ant-table-row:last-child {
    background-color: #65666b;
    color: #fff;
}

.orderSttleInvite .ant-table tbody>tr.ant-table-row:last-child:hover>td {
    background: #65666b;
}

.bigSelectBox {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
}

.selectBox {
    width: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translate(-50%, 0px);
    background-color: #fff;
    z-index: 101;
}

.selectBox .tuijian {
    margin-bottom: 20px;
}

.selectBox .tuijian label {
    width: 100px;
    display: inline-block;
}

.selectBox .addBtn {
    width: 300px;
}

.closeNow {
    width: 20px;
    float: right;
    margin-top: -20px;
    cursor: pointer;
}