.title {
    width: 210px;
    height: 16px;
    font-size: 14px;
    font-family: Microsoft YaHei;
    color: #5A5B65;
    margin-left: 149px;
    margin-top: 106px;
    margin-bottom: 37px;
}

.money {
    margin-left: 149px;
}

.title2 {
    width: 79px;
    height: 16px;
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #5A5B65;
    margin-left: 149px;
    margin-top: 51px;
    margin-bottom: 32px;
}

.sureMoney {
    width: 221px;
    height: 31px;
    background: #5473FF;
    color: #fff;
    line-height: 31px;
    text-align: center;
    margin-left: 149px;
    margin-top: 42px;
    cursor: pointer;
}

.zjbank {
    width: 400px;
    margin-top: 106px;
    margin-left: 149px;
}

.bigtitle {
    color: #5A5B65;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.bbox {}

.bbbox {
    color: #5A5B65;
    font-size: 14px;
    font-weight: bold;
    margin-right: 20px;
}

.bbox span {
    display: inline-block;
    font-size: 14px;
    line-height: 40px;
    height: 40px;
}

.pay {
    width: 221px;
    height: 31px;
    background: #5473FF;
    color: #fff;
    text-align: center;
    line-height: 31px;
    cursor: pointer;
}

.zhu {
    margin-bottom: 30px;
}