.strategy-tabs {
    background: #fff;
    justify-content: space-around;
    overflow: hidden;
}

.strategy-tabs>div {
    width: 93%;
    float: left;
    text-align: center;
    border-radius: 5px;
    height: 110px;
    margin-left: 13px;
}

.strategy-tabs>div .num {
    font-size: 11px;
    margin-top: 11px;
    margin-bottom: 12px;
}

.strategy-tabs>div .interest {
    font-size: 16px;
    font-weight: bold;
}

.strategy-tabs>div .amount-num {
    font-size: 13px;
}

.zixuan-content {
    background: #fff;
    padding-top: 6px;
}

.zixuan-content .tabs2 {
    display: flex;
    font-size: 16px;
}

.zixuan-content .tabs2 div {
    flex: 1;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: #999999;
}

.zixuan-content .tabs2 .tabs2-active {
    color: #5473FF;
    position: relative;
}

.tabs2-active::after {
    display: block;
    content: "—";
    color: #5473FF;
    font-weight: bold;
    position: absolute;
    bottom: -14px;
    left: 85px;
}

.zixuan-content .money {
    text-align: center;
    padding: 5px 10px;
    margin: 15px;
    margin-top: 0;
}

.zixuan-content .money p {
    font-size: 15px;
    color: #5A5B65;
}

.zixuan-content .money .tou {
    margin-bottom: 0px;
}

.zixuan-content .money input {
    font-size: 27px;
    font-weight: bold;
    padding: 20px 7px 15px;
    background: #fff;
    text-align: center;
    border-bottom: 1px dashed #5A5B65;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    color: #F05330;
    width: 248px;
}

.p-first {
    margin-top: 25px;
    text-align: center;
    font-size: 1.1rem;
    color: #5A5B65;
}

.multiple-div {
    padding: 15px 20px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.multiple-div .multiple-item {
    width: 327px;
    height: 198px;
    border-radius: 2px;
    margin-bottom: 6px;
    padding: 13px 0;
    box-sizing: border-box;
    margin: 0 auto;
    color: #F05330;
    background: url(./img/deposit_bg.png);
    background-size: 100%;
    padding: 28px;
    position: relative;
}

.multiple-div .multiple-item .strategy-search {
    position: absolute;
    top: 57px;
    right: 0;
    width: 47px;
    height: 48px;
}

.multiple-div .multiple-item .title {
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    font-size: 15px;
    margin: 0px;
}

.multiple-div .multiple-item .multiple-box {
    float: left;
    display: block;
    width: 110px;
    line-height: 50px;
    text-align: center;
    border-right: solid 1px #F2F2F2;
    font-weight: bold;
    font-size: 40px;
    margin: 33px 30px 33px 0;
}

.multiple-div .multiple-item .multiple-box .several-times {
    display: inline;
    margin-left: 5px;
    font-weight: 100;
    font-size: 18px;
    color: #333333;
    position: relative;
    top: -8px;
}

.multiple-div .multiple-item p {
    margin: 28px 0 0 0;
    color: #999999;
    font-size: 15px;
}

.multiple-div .multiple-item p:nth-of-type(2) {
    margin: 4px 0 0 0;
}

.multiple-div .multiple-item p .multiple-unit {
    color: #333333;
}

.multiple-div .multiple-active {
    color: #F05330;
    background: url(./img/deposit_bg.png);
    background-size: 100%;
    padding: 28px;
}

.multiple-div .multiple-active p {
    color: #F05330;
}

.tabs .icon {
    background: url(./img/tabsIcon.png) no-repeat;
    width: 30px;
    height: 30px;
    background-size: 100% 300%;
    margin: auto;
    margin-top: 10px;
}

.zzf {
    background-position-y: -30px !important;
}

.yyz {
    background-position-y: -60px !important;
}

.tabsbox {
    background-color: #CBCBCB;
    color: #ffffff;
}

.tabsActive {
    background-color: #F05330;
    color: #fff;
}

.tabsActive .icon {
    background: url(./img/tabsIcon2.png) no-repeat;
    background-size: 100% 300%;
}

.tabs p {
    margin: 10px;
    font-size: 1.1rem;
}

.submit {
    display: block;
    width: 90vw;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #5473FF;
    border-radius: 2px;
    color: #fff;
    font-size: 16px;
    border: none;
    margin: 0 auto;
}

.tab-content {
    height: calc(100vh - 216px);
    overflow-y: auto;
    padding-top: 10px;
    padding-bottom: 20px;
}

.flex-btn {
    display: flex;
    position: relative;
    left: 50%;
    width: 202px;
    margin-left: -101px;
}

.flex-btn button {
    width: 101px;
    height: 26px;
    font-size: 15px;
    color: #fff;
    border: none;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 101px 26px;
}

.flex-btn button:first-child {
    background-image: url('./img/first-btn.png');
}

.flex-btn button:last-child {
    background-image: url('./img/last-btn.png');
}

.guge {
    height: calc(100vh - 116px);
}

.singleDiv div {
    width: 55% !important;
    text-align: center;
    margin: auto !important;
}