.bankbox {
    width: 600px;
}

.bankbox .bank {
    height: 50px;
}

.bankbox .bank .title {
    display: inline-block;
    width: 150px;
}

.addSubmite {
    background-color: #5473FF;
    color: #fff;
    width: 450px;
    margin-left: 150px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    margin-top: 100px;
}

.txbox {
    margin-left: 148px;
    margin-top: 100px;
}

.tb1 {}

.tb1 .tt1 {
    color: #5A5B65;
    font-size: 14px;
}

.tb1 .tt2 {
    color: #5A5B65;
    font-size: 33px;
    font-weight: bold;
}

.tb2 {
    color: #5473FF;
    text-decoration: underline;
    cursor: pointer;
    font-size: 16px;
}

.tb3 {
    margin-top: 30px;
}

.ttb3 .tt1 {
    color: #5A5B65;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 37px;
}

.moneyNow {
    width: 221px;
    height: 31px;
    background-color: #5473FF;
    color: #fff;
    line-height: 31px;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
}